body {
	background:#000;
	font-family: "Menlo";
	color:#ccc;
}

h1 {
	text-transform:uppercase;
}

canvas {
	color:#f1f1f1;
	width:506px;
	height:220px;
}

a {
	cursor:pointer;
}

input#label {
	width: 498px;
	font-size: 22px;
	background-color: #272822;
	color: #fff;
	border: none;
	text-align: center;
	font-family: "Menlo";
	padding: 0.5em 0.1em;
}