body {
	background:#000;
	font-family: "Inconsolata";
	color:#ccc;
}

h1 {
	text-transform:uppercase;
}

div#canvasContainer {
	width:506px;
	height:220px;
	position: relative;
}

canvas {
	color:#f1f1f1;
	width:506px;
	height:220px;
}

a {
	cursor:pointer;
}

input#label {
	width: 506px;
	font-size: 22px;
	background-color: #272822;
	color: #fff;
	border: none;
	text-align: center;
	font-family: "Inconsolata";
	padding: 0.5em 0.1em;
}

div#count {
	font-size:8em;
	width:145px;
	text-align: right;
	display:block;
	position:absolute;
	right:-145px;
	top:35px;
}